<form [formGroup]="taskForm" (ngSubmit)="saveTask()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput formControlName="dueDate" type="date" />
  </mat-form-field>

  <mat-checkbox formControlName="isCompleted">Completed</mat-checkbox>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
